@{
    ViewBag.Title = "Kyiv Beer && Code | Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@using PagedList;
@using PagedList.Mvc;
@model PagedList<Github.BlogEngine.Models.Post>

<div class="container_12">
    <div class="grid_12">
        @foreach (var post in Model)
        {
            <article class="blogpost">
                <h1>
                    <a href="@Url.Action("Post","Blog",new {sha = post.Sha})">@post.Title</a> 
                </h1>
                <section>
                    @Html.Raw(post.Body)
                </section>
                <div class="comments">
                        @{
                            var disqusId = "disqus_id_" + post.Sha;
                        }
                        <a href="@Url.Action("Post", "Blog", new { sha = post.Sha })#disqus_thread" data-disqus-identifier="@disqusId"></a>
                    </div>

            </article>
        }
    </div>
</div>

@section Scripts {
    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kyivbeercodecommunitysite'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        } ());
    </script>
}